# Build results
bin/
obj/
**/bin/
**/obj/

# Test results
TestResults/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio
.vs/
*.rsuser

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
